openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW About Fashion Web API'
  description: 'Web Resources Specification (A7) for About Fashion'

servers:
  - url: http://lbaw2251.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2251/-/wikis/

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Personal Profile'
  - name: 'M03: Administration'
  - name: 'M04: Products and Promotions'
  - name: 'M05: Orders and Wishlists'
  - name: 'M06: Reviews and Reports'
  - name: 'M07: Pages'


paths:

  # Module 01: Authentication

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                email: 
                  type: string
                password: 
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '../'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /admin-panel/login:
    get:
      operationId: R103
      summary: 'R103: Admin Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R104
      summary: 'R104: Admin Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '../'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/admin-panel/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, TEC, COL'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to home page.'
                  value: '../'

  /register:
    get:
      operationId: R106
      summary: 'R106: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    put:
      operationId: R107
      summary: 'R107: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'
  
  /forgot-password:
    get:
      operationId: R108
      summary: 'R108: Show Forgot Password Form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R109
      summary: 'R109: Forgot Password Action'
      description: 'Send an email with a token. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                email: 
                  type: string
              required:
                - email

      responses:
        '302':
          description: 'Redirect after processing the email.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirect to change password page'
                  value: '/forgot-password/change-password'
  
  /forgot-password/change-password:
    get:
      operationId: R110
      summary: 'R110: Show token and password form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
        operationId: R111
        summary: 'R111: Change password Action'
        description: 'Change the password. Access: PUB'
        tags:
          - 'M01: Authentication'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded: 
              schema:
                type: object
                properties:
                  token: 
                    type: string
                  password:
                    type: string
                required:
                  - token
                  - password

        responses:
          '302':
            description: 'Redirect after processing the change password form.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Redirect to login page'
                    value: '/login'
                  302Failure:
                    description: 'Redirect to change password page'
                    value: '/forgot-password/change-password'

  /users/{id}:
    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the personal user profile. Access: OWN, TEC'
      tags:
        - 'M02: Personal Profile'
        - 'M03: Administration'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'

        '403':
          description: 'You do not have permission to view this profile'

    patch:
      operationId: R202
      summary: 'R202: Edit user profile'
      description: 'Edit the personal user profile. Access: OWN' 
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to user profile.'
                  value: '/users/{id}'
        '403':
          description: 'You do not have permission to edit this profile.'

    delete:
      operationId: R203
      summary: 'R203: Delete user account'
      description: 'Delete user account. Access: OWN, TEC' 
      tags:
        - 'M02: Personal Profile'
        - 'M03: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the request to delete the account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deletion was successful. Redirect to home page.'
                  value: '../../../'
                302Failure:
                  description: 'Account deletion was not successful. Redirect to user profile.'
                  value: '/users/{id}'
        '403':
          description: 'You do not have permission to delete this account' 


  /users/{id}/edit:
    get:
      operationId: R207
      summary: 'R207: View edit form'
      description: 'Show edit informations form. Access: OWN'
      tags:
        - 'M02: Personal Profile'


      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show form'

        '403':
          description: 'You do not have permission!'
    
      

  /admin-panel/admins/{id}:
    get:
      operationId: R204
      summary: 'R203: View admin profile'
      description: 'Show the admin profile. Access: OWN, TEC'
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'

        '403':
          description: 'You do not have permission to view this profile'

    patch:
      operationId: R205
      summary: 'R205: Edit admin profile'
      description: 'Edit admin profile. Access: OWN' 
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to admin profile.'
                  value: '/admin-panel/admins/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to admin profile.'
                  value: '/admin-panel/admins/{id}'
        '403':
          description: 'You do not have permission to edit this profile.'

    delete:
      operationId: R206
      summary: 'R206: Delete admin account'
      description: 'Delete admin account. Access: OWN, TEC' 
      tags:
        - 'M02: Personal Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the request to delete the account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deletion was successful. Redirect to home page.'
                  value: '../../../'
                302Failure:
                  description: 'Account deletion was not successful. Redirect to user profile.'
                  value: '/admin-panel/admins/{id}'
        '403':
          description: 'You do not have permission to delete this account' 

  # Module 03: Administration

  /api/users:
    get:
      operationId: R302
      summary: 'R302: Search Users'
      description: 'Searches for persons and returns the results as JSON. Access: TEC'
      tags:
        - 'M03: Administration'

      parameters:
        - in: query
          name: id
          description: User ID
          schema:
            type: integer
          required: false
        - in: query
          name: name
          description: String to use for full-text search
          schema:
            type: string
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    first_name:
                      type: string
                    last_name:
                      type: string
                    email: 
                      type: string
                    image: 
                      type: string
                    birth_date: 
                      type: string
                    gender:
                      type: string
                    blocked:
                      type: string
        '403':
          description: "You don't have permission to use this API"
  
  /admin-panel/users/block:
    patch:
      operationId: R303
      summary: 'R303: Block User'
      description: 'Block or unblock a user. Access: TEC'
      tags:
        - 'M03: Administration'
        
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                id: 
                  type: number
                blocked:
                  type: number
              required:
                - id
                - blocked

      responses:
          '302':
            description: 'Redirect after blocking/unblocking a user'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'User change was successful. Redirect to product page'
                    value: '/admin-panel/users'
                  302Failure:
                    description: 'User change was not successful. Redirect to product page.'
                    value: '/admin-panel/users'
          '403':
            description: 'Error! You do not have permission to block/unblock this account' 
          '404':
            description: 'Error! User not found'

  # Module 04: Products and Promotions

  /api/products:
    get:
      operationId: R401
      summary: 'R401: Search Products API'
      description: 'Searches for products and returns the results as JSON. Access: PUB'
      tags:
        - 'M04: Products and Promotions'

      parameters:
        - in: query
          name: product_id
          description: Product ID
          schema:
            type: integer
          required: false
        - in: query
          name: product_name
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: category_id
          description: Category of the products
          schema:
            type: integer
          required: false
        - in: query
          name: min_classification
          description: Numeric corresponding to the product classification
          schema:
            type: integer
          required: false
        - in: query
          name: min_price
          description: Numeric corresponding to the minimum price of a product
          schema:
            type: integer
          required: false
        - in: query
          name: max_price
          description: Numeric corresponding to the maximum price of a product
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    price:
                      type: number
                    description: 
                      type: string
                    image:
                      type: array
                      items: 
                        type: string
                    category:
                      type: array
                      items:
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                    sizes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                    stock:
                      type: array
                      items:
                        type: object
                        properties:
                          id_size:
                            type: integer
                          id_color:
                            type: integer
                          stock:
                            type: integer
                    avg_classification:
                      type: integer
                    promotion:
                      type: object
                      properties:
                        id_promotion:
                          type: integer
                        discount:
                          type: integer
                             
                example:
                  - id: 1
                    name: Zip Up Bomber Jacket
                    description: description of the materials and tips/warnings for washing
                    price: 20
                    image: [https://robohash.org/totamminussunt.png?size=50x50&set=set1, https://robohash.org/inventoreutnulla.png?size=50x50&set=set1]
                    category: [{id: 1, name: Woman}, {id: 2, name: Jackets}]
                    sizes: [{id: 1, name: XS}, {id: 2, name: S}, {id: 3, name: M}]
                    colors: [{id: 1, name: Black}, {id: 2, name: Grey}, {id: 3, name: Red}]
                    stock: [{id_size: 1, id_color: 1, stock: 10},{id_size: 2, id_color: 2, stock: 0},{id_size: 3, id_color: 3, stock: 20}]
                    avg_classification: 3
                    promotion: {id_promotion: 1, id_discount: 10}


  /products:
    get:
      operationId: R402
      summary: 'R402: List the products'
      description: 'Shows the products that match the applied filters. Uses AJAX. Access: PUB'
      tags:
        - 'M04: Products and Promotions'
      
      responses:
        '200':
          description: 'Ok. Show search products UI'
  
  /products/{id}:
    get:
      operationId: R403
      summary: 'R403: Show Product'
      description: 'Show the product with the index {id}. Access: PUB'
      tags:
        - 'M04: Products and Promotions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show product UI'
        '404':
          description: "Error. There's not a product with the specified primary key"

  /admin-panel/products:
      get:
        operationId: R404
        summary: 'R404: List the products'
        description: 'Shows the products that match the applied filters in the admin panel. Uses AJAX. Access: COL'
        tags:
          - 'M04: Products and Promotions'
        responses:
          '200':
            description: 'Ok. Show search products UI'

  /admin-panel/products/{id}:
    get:
      operationId: R405
      summary: 'R405: Show Product'
      description: 'Show the product with the index {id} in the admin panel. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show product UI'
        '403':
          description: "Error. You don't have permission to access this page"
        '404':
          description: "Error. There's not a product with the specified primary key"
      
    delete:
        operationId: R406
        summary: 'R406: Delete Product'
        description: 'Delete a product with the index {id}. Access: COL'
        tags:
          - 'M04: Products and Promotions'

        parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

        responses:
          '302':
            description: 'Redirect after processing product deletion request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Product deletion was successful. Redirect to home page.'
                    value: '../../'
                  302Failure:
                    description: 'Product deletion was not successful. Redirect to user profile.'
                    value: '/admin-panel/products/{id}'
          '403':
            description: 'Error! You do not have permission to delete this product' 
          '404':
            description: 'Error! Product not found'
    
    patch:
      operationId: R407
      summary: 'R407: Update Product'
      description: 'Update a product with the index {id}. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                name: 
                  type: string
                price:
                  type: number
                description:
                  type: string
                category: 
                  type: array
                  items:
                    type: string
                image: 
                  type: array
                  items:
                    type: string
                promotion:
                  type: array
                  items:
                    type: object
                    properties:
                      discount:
                        type: integer
                      start_date:
                        type: string
                      final_date:
                        type: string
                stock:
                  type: array
                  items:
                    type: object
                    properties:
                      color:
                        type: string
                      size:
                        type: string

      responses:
          '302':
            description: 'Redirect after processing product change request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Product change was successful. Redirect to product page'
                    value: '/admin-panel/products/{id}'
                  302Failure:
                    description: 'Product change was not successful. Redirect to product page.'
                    value: '/admin-panel/products/{id}'
          '403':
            description: 'Error! You do not have permission to delete this product' 
          '404':
            description: 'Error! Product not found'

  /admin-panel/products/create:
    get:
      operationId: R408
      summary: 'R408: Create Product UI'
      description: 'Show create product UI. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      responses:
        '200':
          description: 'Ok. Show create product UI'
        '403':
          description: "Error. You don't have permission to access this page"  
    
    put:
      operationId: R409
      summary: 'R409: Create Product'
      description: 'Create product action. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                name: 
                  type: string
                price:
                  type: number
                description:
                  type: string
                category: 
                  type: array
                  items:
                    type: string
                promotion:
                  type: array
                  items:
                    type: object
                    properties:
                      discount:
                        type: integer
                      start_date:
                        type: string
                      final_date:
                        type: string
                stock:
                  type: array
                  items:
                    type: object
                    properties:
                      color:
                        type: string
                      size:
                        type: string
              required:
                - name
                - price
                - description
                - category
                - stock

      responses:
          '302':
            description: 'Redirect after processing product create request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Product was been created. Redirect to product page'
                    value: '/admin-panel/products/{id}'
                  302Failure:
                    description: 'Product change was not created. Redirect to create page.'
                    value: '/admin-panel/products/create'
          '403':
            description: "Error! You don't have permission to create a product" 
  
  /promotions:
    get:
      operationId: R410
      summary: 'R410: List the promotions'
      description: 'Shows the promotions available at the moment. Access: PUB'
      tags:
        - 'M04: Products and Promotions'
      
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    discount:
                      type: integer
                    start_date:
                      type: string
                    final_date:
                      type: string
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          price:
                            type: number
                          description:
                            type: string
                          category:
                            type: array
                            items:
                              type: string
                          image:
                            type: array
                            items:
                              type: string
                          promotion:
                            type: array
                            items:
                              type: object
                              properties:
                                discount:
                                  type: integer
                                start_date:
                                  type: string
                                final_date:
                                  type: string
                          stock:
                            type: array
                            items:
                              type: object
                              properties:
                                color:
                                  type: string
                                size:
                                  type: string
                required:
                  - id
                  - name
                  - description
                  - discount
                  - start_date
                  - final_date
                  - products

  /promotions/{id}:
    get:
      operationId: R411
      summary: 'R411: Show promotion'
      description: 'Show the promotion with the index {id}. Access: PUB'
      tags:
        - 'M04: Products and Promotions'

      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  description:
                    type: string
                  discount:
                    type: integer
                  start_date:
                    type: string
                  final_date:
                    type: string
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        price:
                          type: number
                        description:
                          type: string
                        category:
                          type: array
                          items:
                            type: string
                        image:
                          type: array
                          items:
                            type: string
                        promotion:
                          type: array
                          items:
                            type: object
                            properties:
                              discount:
                                type: integer
                              start_date:
                                type: string
                              final_date:
                                type: string
                        stock:
                          type: array
                          items:
                            type: object
                            properties:
                              color:
                                type: string
                              size:
                                type: string
                required:
                  - id
                  - name
                  - description
                  - discount
                  - start_date
                  - final_date
                  - products
        '404':
          description: Error! Promotion not found
    
  /admin_panel/promotions:
    put:
      operationId: R412
      summary: 'R412: Create Promotion'
      description: 'Create a promotion. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                name: 
                  type: string
                description:
                  type: string
                discount:
                  type: integer
                start_date:
                  type: string
                final_date:
                  type: string
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      description:
                        type: string
                      category:
                        type: array
                        items:
                          type: string
                      image:
                        type: array
                      items:
                        type: string
                      promotion:
                        type: array
                        items:
                          type: object
                          properties:
                            discount:
                              type: integer
                            start_date:
                              type: string
                            final_date:
                              type: string
                      stock:
                        type: array
                        items:
                          type: object
                          properties:
                            color:
                              type: string
                            size:
                              type: string
                  
              required:
                - name
                - description
                - discount
                - start_date
                - final_date
                - products

      responses:
          '302':
            description: 'Redirect after processing promotion create request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Promotion was been created. Redirect to promotion page'
                    value: '/admin-panel/promotions/{id}'
                  302Failure:
                    description: 'Promotion change was not created. Redirect to create page.'
                    value: '/admin-panel/promotions/create'
          '403':
            description: "Error! You don't have permission to create a promotion"
    patch:
      operationId: R413
      summary: 'R413: Edit Promotion'
      description: 'Edit a promotion. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                name: 
                  type: string
                description:
                  type: string
                discount:
                  type: integer
                start_date:
                  type: string
                final_date:
                  type: string
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      description:
                        type: string
                      category:
                        type: array
                        items:
                          type: string
                      image:
                        type: array
                      items:
                        type: string
                      promotion:
                        type: array
                        items:
                          type: object
                          properties:
                            discount:
                              type: integer
                            start_date:
                              type: string
                            final_date:
                              type: string
                      stock:
                        type: array
                        items:
                          type: object
                          properties:
                            color:
                              type: string
                            size:
                              type: string
              required:
                - name
                - description
                - discount
                - start_date
                - final_date
                - products

      responses:
          '302':
            description: 'Redirect after processing promotion edit request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Promotion was been edited. Redirect to promotion page'
                    value: '/admin-panel/promotions/{id}'
                  302Failure:
                    description: 'Promotion change was not edited. Redirect to edit page.'
                    value: '/admin-panel/promotions/{id}/edit'
          '403':
            description: "Error! You don't have permission to edit a promotion"
                          
  # Module 05: Orders and Wishlists

  /orders:
    get:
      operationId: R501
      summary: 'R501: List Orders'
      description: 'Searches for orders and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M05: Orders and Wishlists'

      parameters:
        - in: query
          name: status
          description: Status of the order
          schema:
            type: string
          required: false
        - in: query
          name: date
          description: Date of the order
          schema:
            type: string 
          required: false
        - in: query
          name: total
          description: Total price of the order
          schema:
            type: number
          required: false
        - in: query
          name: products
          description: Products in the order
          schema:
            type: array
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      type: string
                    date:
                      type: string 
                    total:
                      type: number
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          category:
                            type: string
                          description:
                            type: string
                          likes:
                            type: integer
                          sizes:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          colors:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          reviews:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                evaluation:
                                  type: number
                                description:
                                  type: string
                  example:
                    - id: 1
                      status: Pending
                      date: 2022-11-05
                      total: 100
                      products:
                        [
                          1,
                          Zip Up Bomber Jacket,
                          Woman / Clothing / Jackets,
                          description of the materials and tips/warnings for washing,
                          15,
                          [XS, S, M, L],
                          [Black, Grey, Beige],
                          [
                            0,
                            Good product!,
                            4.5,
                            It is builded with very good materials.,
                            1,
                            Lack of interior lining!,
                            1.5,
                            the interior lining is not the best I ever experienced.,
                          ],
                        ]
  /orders/{id}:  
    post:
      operationId: R502
      summary: 'R502: Create Order'
      description: 'Creates a new order and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M05: Orders and Wishlists'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                date:
                  type: string
                total:
                  type: number
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success creating a new order'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the newly created order
              example: /orders/{id}
    patch:
      operationId: R503
      summary: 'R503: Edit Order'
      description: 'Edits an existing order and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M05: Orders and Wishlists'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                date:
                  type: string
                total:
                  type: number
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success editing an existing order'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the edited order
              example: /orders/{id}

  /wishlists:
    get:
      operationId: R504
      summary: 'R504: List Wishlists'
      description: 'Searches for wishlists and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M05: Orders and Wishlists'

      parameters:
        - in: query
          name: products
          description: Products in the wishlist
          schema:
            type: array
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          category:
                            type: string
                          description:
                            type: string
                          likes:
                            type: integer
                          sizes:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          colors:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          reviews:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                evaluation:
                                  type: number
                                description:
                                  type: string
                  example:
                    - id: 1
                      products:
                        [
                          1,
                          Zip Up Bomber Jacket,
                          Woman / Clothing / Jackets,
                          description of the materials and tips/warnings for washing,
                          15,
                          [XS, S, M, L],
                          [(Black, Grey, Beige],
                          [
                            0,
                            Good product!,
                            4.5,
                            It is builded with very good materials.,
                            1,
                            Lack of interior lining!,
                            1.5,
                            the interior lining is not the best I ever experienced.,
                          ],
                        ]

  /wishlists/{id}:
    post:
      operationId: R504
      summary: 'R504: Create Wishlist'
      description: 'Creates a new wishlist and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M05: Orders and Wishlists'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success creating a new wishlist'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the newly created wishlist
              example: /wishlists/{id}

    patch:
      operationId: R505
      summary: 'R505: Edit Wishlist'
      description: 'Edits an existing wishlist and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M05: Orders and Wishlists'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success editing an existing wishlist'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the edited wishlist
              example: /wishlists/{id}
    
  # Module 06: Reviews and Reports

  # Module 07: Pages

  /:
    get:
      operationId: R701
      summary: 'R701: Home Page'
      description: 'Show home page. Access: PUB'
      tags:
        - 'M07: Pages'
      responses:
        '200':
          description: 'Ok. Show home page'
