openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW About Fashion Web API'
  description: 'Web Resources Specification (A7) for About Fashion'

servers:
  - url: http://lbaw2251.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2251/-/wikis/

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Personal Profile'
  - name: 'M03: Administration'
  - name: 'M04: Products and Promotions'
  - name: 'M05: Orders and Wishlist'
  - name: 'M06: Reviews and Reports'
  - name: 'M07: Static pages'
  - name: 'M08: Dynamic pages'


paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                email: 
                  type: string
                password: 
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '../'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /admin-panel/login:
    get:
      operationId: R103
      summary: 'R103: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R104
      summary: 'R104: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '../'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/admin-panel/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, TEC, COL'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to home page.'
                  value: '../'

  /register:
    get:
      operationId: R106
      summary: 'R106: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    put:
      operationId: R107
      summary: 'R107: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'

  /users/{id}:
    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the personal user profile. Access: OWN, TEC'
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'

        '403':
          description: 'You do not have permission to view this profile'

    put:
      operationId: R202
      summary: 'R202: Edit user profile'
      description: 'Edit the personal user profile. Access: OWN' 
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to user profile.'
                  value: '/users/{id}'
        '403':
          description: 'You do not have permission to edit this profile.'

    delete:
      operationId: R203
      summary: 'R203: Delete user account'
      description: 'Delete user account. Access: OWN, TEC' 
      tags:
        - 'M02: Personal Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the request to delete the account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deletion was successful. Redirect to home page.'
                  value: '../../'
                302Failure:
                  description: 'Account deletion was not successful. Redirect to user profile.'
                  value: '/users/{id}'
        '403':
          description: 'You do not have permission to delete this account' 

  /admin-panel/admins/{id}:
    get:
      operationId: R204
      summary: 'R204: View admin profile'
      description: 'Show the admin profile. Access: OWN, TEC'
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'

        '403':
          description: 'You do not have permission to view this profile'

    put:
      operationId: R205
      summary: 'R205: Edit admin profile'
      description: 'Edit admin profile. Access: OWN' 
      tags:
        - 'M02: Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to admin profile.'
                  value: '/admin-profile/admins/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to admin profile.'
                  value: '/admin-profile/admins/{id}'
        '403':
          description: 'You do not have permission to edit this profile.'

    delete:
      operationId: R206
      summary: 'R206: Delete admin account'
      description: 'Delete admin account. Access: OWN, TEC' 
      tags:
        - 'M02: Personal Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the request to delete the account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deletion was successful. Redirect to home page.'
                  value: '../../../'
                302Failure:
                  description: 'Account deletion was not successful. Redirect to user profile.'
                  value: '/admin-profile/admins/{id}'
        '403':
          description: 'You do not have permission to delete this account' 
      
  /forgot-password:
    get:
      operationId: R108
      summary: 'R108: Show Forgot Password Form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R109
      summary: 'R109: Forgot Password Action'
      description: 'Send an email with a token. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                email: 
                  type: string
              required:
                - email

      responses:
        '302':
          description: 'Redirect after processing the email.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirect to change password page'
                  value: '/forgot-password/change-password'
  
  /forgot-password/change-password:
    get:
      operationId: R110
      summary: 'R110: Show token and password form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
        operationId: R111
        summary: 'R111: Change password Action'
        description: 'Change the password. Access: PUB'
        tags:
          - 'M01: Authentication'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded: 
              schema:
                type: object
                properties:
                  token: 
                    type: string
                  password:
                    type: string
                required:
                  - token
                  - password

        responses:
          '302':
            description: 'Redirect after processing the change password form.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Redirect to login page'
                    value: '/login'
                  302Failure:
                    description: 'Redirect to change password page'
                    value: '/forgot-password/change-password'

  /api/products:
    get:
      operationId: R401
      summary: 'R401: Search Products API'
      description: 'Searches for products and returns the results as JSON. Access: PUB'
      tags:
        - 'M04: Products and Promotions'

      parameters:
        - in: query
          name: product_id
          description: Product ID
          schema:
            type: integer
          required: false
        - in: query
          name: product_name
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: category_id
          description: Category of the products
          schema:
            type: integer
          required: false
        - in: query
          name: min_classification
          description: Numeric corresponding to the product classification
          schema:
            type: integer
          required: false
        - in: query
          name: min_price
          description: Numeric corresponding to the minimum price of a product
          schema:
            type: integer
          required: false
        - in: query
          name: max_price
          description: Numeric corresponding to the maximum price of a product
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    price:
                      type: number
                    description: 
                      type: string
                    image:
                      type: array
                      items: 
                        type: string
                    category:
                      type: array
                      items:
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                    sizes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                    stock:
                      type: array
                      items:
                        type: object
                        properties:
                          id_size:
                            type: integer
                          id_color:
                            type: integer
                          stock:
                            type: integer
                    avg_classification:
                      type: integer
                    promotion:
                      type: object
                      properties:
                        id_promotion:
                          type: integer
                        discount:
                          type: integer
                             
                example:
                  - id: 1
                    name: Zip Up Bomber Jacket
                    description: description of the materials and tips/warnings for washing
                    price: 20
                    image: [https://robohash.org/totamminussunt.png?size=50x50&set=set1, https://robohash.org/inventoreutnulla.png?size=50x50&set=set1]
                    category: [{id: 1, name: Woman}, {id: 2, name: Jackets}]
                    sizes: [{id: 1, name: XS}, {id: 2, name: S}, {id: 3, name: M}]
                    colors: [{id: 1, name: Black}, {id: 2, name: Grey}, {id: 3, name: Red}]
                    stock: [{id_size: 1, id_color: 1, stock: 10},{id_size: 2, id_color: 2, stock: 0},{id_size: 3, id_color: 3, stock: 20}]
                    avg_classification: 3
                    promotion: {id_promotion: 1, id_discount: 10}


  /products:
    get:
      operationId: R402
      summary: 'R402: List the products'
      description: 'Shows the products that match the applied filters. Uses AJAX. Access: PUB'
      tags:
        - 'M04: Products and Promotions'
      
      responses:
        '200':
          description: 'Ok. Show search products UI'
  
  /products/{id}:
    get:
      operationId: R403
      summary: 'R403: Show Product'
      description: 'Show the product with the index {id}. Access: PUB'
      tags:
        - 'M04: Products and Promotions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show product UI'
        '404':
          description: "Error. There's not a product with the specified primary key"

  /admin-panel/products:
      get:
        operationId: R404
        summary: 'R404: List the products'
        description: 'Shows the products that match the applied filters in the admin panel. Uses AJAX. Access: COL'
        tags:
          - 'M04: Products and Promotions'
        responses:
          '200':
            description: 'Ok. Show search products UI'

  /admin-panel/products/{id}:
    get:
      operationId: R405
      summary: 'R405: Show Product'
      description: 'Show the product with the index {id} in the admin panel. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show product UI'
        '403':
          description: "Error. You don't have permission to access this page"
        '404':
          description: "Error. There's not a product with the specified primary key"
      
    delete:
        operationId: R406
        summary: 'R406: Delete Product'
        description: 'Delete a product with the index {id}. Access: COL'
        tags:
          - 'M04: Products and Promotions'

        parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

        responses:
          '302':
            description: 'Redirect after processing product deletion request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Product deletion was successful. Redirect to home page.'
                    value: '../../'
                  302Failure:
                    description: 'Product deletion was not successful. Redirect to user profile.'
                    value: '/admin-panel/products/{id}'
          '403':
            description: 'Error! You do not have permission to delete this product' 
          '404':
            description: 'Error! Product not found'
    
    patch:
      operationId: R407
      summary: 'R407: Update Product'
      description: 'Update a product with the index {id}. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                name: 
                  type: string
                price:
                  type: number
                description:
                  type: string
                category: 
                  type: array
                  items:
                    type: string
                image: 
                  type: array
                  items:
                    type: string
                promotion:
                  type: array
                  items:
                    type: object
                    properties:
                      discount:
                        type: integer
                      start_date:
                        type: string
                      final_date:
                        type: string
                stock:
                  type: array
                  items:
                    type: object
                    properties:
                      color:
                        type: string
                      size:
                        type: string

      responses:
          '302':
            description: 'Redirect after processing product change request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Product change was successful. Redirect to product page'
                    value: '/admin-panel/products/{id}'
                  302Failure:
                    description: 'Product change was not successful. Redirect to product page.'
                    value: '/admin-panel/products/{id}'
          '403':
            description: 'Error! You do not have permission to delete this product' 
          '404':
            description: 'Error! Product not found'

  /admin-panel/products/create:
    get:
      operationId: R408
      summary: 'R408: Create Product UI'
      description: 'Show create product UI. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      responses:
        '200':
          description: 'Ok. Show create product UI'
        '403':
          description: "Error. You don't have permission to access this page"  
    
    put:
      operationId: R409
      summary: 'R409: Create Product'
      description: 'Create product action. Access: COL'
      tags:
        - 'M04: Products and Promotions'

      requestBody:
        required: true
        content:
          application/json: 
            schema:
              type: object
              properties:
                name: 
                  type: string
                price:
                  type: number
                description:
                  type: string
                category: 
                  type: array
                  items:
                    type: string
                promotion:
                  type: array
                  items:
                    type: object
                    properties:
                      discount:
                        type: integer
                      start_date:
                        type: string
                      final_date:
                        type: string
                stock:
                  type: array
                  items:
                    type: object
                    properties:
                      color:
                        type: string
                      size:
                        type: string
              required:
                - name
                - price
                - description
                - category
                - stock

      responses:
          '302':
            description: 'Redirect after processing product create request'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Product was been created. Redirect to product page'
                    value: '/admin-panel/products/{id}'
                  302Failure:
                    description: 'Product change was not created. Redirect to create page.'
                    value: '/admin-panel/products/create'
          '403':
            description: "Error! You don't have permission to create a product" 
                          
              
  /api/orders:
    get:
      operationId: R501
      summary: 'R501: Search Orders API'
      description: 'Searches for orders and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M05: Orders and Wishlist'

      parameters:
        - in: query
          name: status
          description: Status of the order
          schema:
            type: string
          required: false
        - in: query
          name: date
          description: Date of the order
          schema:
            type: string # para representar datas também é string
          required: false
        - in: query
          name: total
          description: Total price of the order
          schema:
            type: number
          required: false
        - in: query
          name: products
          description: Products in the order
          schema:
            type: array
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      type: string
                    date:
                      type: string # para representar datas também é string
                    total:
                      type: number
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          category:
                            type: string
                          description:
                            type: string
                          likes:
                            type: integer
                          sizes:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          colors:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          reviews:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                evaluation:
                                  type: number
                                description:
                                  type: string
                  example:
                    - id: 1
                      status: Pending
                      date: 2022-11-05
                      total: 100
                      products:
                        [
                          1,
                          Zip Up Bomber Jacket,
                          Woman / Clothing / Jackets,
                          description of the materials and tips/warnings for washing,
                          15,
                          [XS, S, M, L],
                          [Black, Grey, Beige],
                          [
                            0,
                            Good product!,
                            4.5,
                            It is builded with very good materials.,
                            1,
                            Lack of interior lining!,
                            1.5,
                            the interior lining is not the best I ever experienced.,
                          ],
                        ]
    post:
      operationId: R502
      summary: 'R502: Create Order API'
      description: 'Creates a new order and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M05: Orders and Wishlist'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # <---- VER ESTE TIPO DE LINKS, ESTÁ CORRETO??
            schema:
              type: object
              properties:
                status:
                  type: string
                date:
                  type: string # para representar datas também é string
                total:
                  type: number
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success creating a new order'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the newly created order
              example: /api/orders/

  /api/wishlist:
    get:
      operationId: R503
      summary: 'R503: Search Wishlist API'
      description: 'Searches for wishlist and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M05: Orders and Wishlist'

      parameters:
        - in: query
          name: products
          description: Products in the wishlist
          schema:
            type: array
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          category:
                            type: string
                          description:
                            type: string
                          likes:
                            type: integer
                          sizes:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          colors:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          reviews:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                evaluation:
                                  type: number
                                description:
                                  type: string
                  example:
                    - id: 1
                      products:
                        [
                          1,
                          Zip Up Bomber Jacket,
                          Woman / Clothing / Jackets,
                          description of the materials and tips/warnings for washing,
                          15,
                          [XS, S, M, L],
                          [(Black, Grey, Beige],
                          [
                            0,
                            Good product!,
                            4.5,
                            It is builded with very good materials.,
                            1,
                            Lack of interior lining!,
                            1.5,
                            the interior lining is not the best I ever experienced.,
                          ],
                        ]
    post:
      operationId: R504
      summary: 'R504: Create Wishlist API'
      description: 'Creates a new wishlist and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M05: Orders and Wishlist'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # <---- VER ESTE TIPO DE LINKS, ESTÁ CORRETO??
            schema:
              type: object
              properties:
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success creating a new wishlist'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the newly created wishlist
              example: /api/wishlist/
