openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW About Fashion Web API'
  description: 'Web Resources Specification (A7) for About Fashion'

servers:
  - url: http://lbaw2251.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2251/-/wikis/

tags:
  - name: 'M01: Authentication and Personal Profile'
  - name: 'M02: Products'
  - name: 'M03: Orders and Wishlist'
  - name: 'M04: Reviews and Reports'
  - name: 'M05: User Administration and Static pages'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                email: 
                  type: string
                password: 
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '../'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /admin-panel/login:
    get:
      operationId: R103
      summary: 'R103: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R104
      summary: 'R104: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page.'
                  value: '../'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/admin-panel/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, TEC, COL'
      tags:
        - 'M01: Authentication and Personal Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to home page.'
                  value: '../'

  /register:
    get:
      operationId: R106
      summary: 'R106: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    put:
      operationId: R107
      summary: 'R107: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'

  /users/{id}:
    get:
      operationId: R108
      summary: 'R108: View user profile'
      description: 'Show the personal user profile. Access: OWN, TEC'
      tags:
        - 'M01: Authentication and Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'

        '403':
          description: 'You do not have permission to view this profile'

    put:
      operationId: R109
      summary: 'R109: Edit user profile'
      description: 'Edit the personal user profile. Access: OWN' 
      tags:
        - 'M01: Authentication and Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to user profile.'
                  value: '/users/{id}'
        '403':
          description: 'You do not have permission to edit this profile.'

    delete:
      operationId: R110
      summary: 'R110: Delete user account'
      description: 'Delete user account. Access: OWN, TEC' 
      tags:
        - 'M01: Authentication and Personal Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the request to delete the account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deletion was successful. Redirect to home page.'
                  value: '../../'
                302Failure:
                  description: 'Account deletion was not successful. Redirect to user profile.'
                  value: '/users/{id}'
        '403':
          description: 'You do not have permission to delete this account' 

  /admin-panel/admins/{id}:
    get:
      operationId: R111
      summary: 'R111: View admin profile'
      description: 'Show the admin profile. Access: OWN, TEC'
      tags:
        - 'M01: Authentication and Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'

        '403':
          description: 'You do not have permission to view this profile'

    put:
      operationId: R112
      summary: 'R112: Edit admin profile'
      description: 'Edit admin profile. Access: OWN' 
      tags:
        - 'M01: Authentication and Personal Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                first_name:
                  type: string
                second_name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - first_name
                - second_name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to admin profile.'
                  value: '/admin-profile/admins/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to admin profile.'
                  value: '/admin-profile/admins/{id}'
        '403':
          description: 'You do not have permission to edit this profile.'

    delete:
      operationId: R113
      summary: 'R113: Delete admin account'
      description: 'Delete admin account. Access: OWN, TEC' 
      tags:
        - 'M01: Authentication and Personal Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after processing the request to delete the account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deletion was successful. Redirect to home page.'
                  value: '../../../'
                302Failure:
                  description: 'Account deletion was not successful. Redirect to user profile.'
                  value: '/admin-profile/admins/{id}'
        '403':
          description: 'You do not have permission to delete this account' 
      
  /forgot-password:
    get:
      operationId: R114
      summary: 'R114: Show Forgot Password Form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R115
      summary: 'R115: Forgot Password Action'
      description: 'Send an email with a token. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                email: 
                  type: string
              required:
                - email

      responses:
        '302':
          description: 'Redirect after processing the email.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirect to change password page'
                  value: '/forgot-password/change-password'
  
  /forgot-password/change-password:
    get:
      operationId: R116
      summary: 'R116: Show token and password form'
      description: 'Provide forgot password form. Access: PUB'
      tags:
        - 'M01: Authentication and Personal Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
        operationId: R117
        summary: 'R117: Change password Action'
        description: 'Change the password. Access: PUB'
        tags:
          - 'M01: Authentication and Personal Profile'

        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded: 
              schema:
                type: object
                properties:
                  token: 
                    type: string
                  password:
                    type: string
                required:
                  - token
                  - password

        responses:
          '302':
            description: 'Redirect after processing the change password form.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Redirect to login page'
                    value: '/login'
                  302Failure:
                    description: 'Redirect to change password page'
                    value: '/forgot-password/change-password'

  /api/products:
    get:
      operationId: R202
      summary: 'R202: Search Products API'
      description: 'Searches for products and returns the results as JSON. Access: PUB, COL' # Colaborador tmb precisa de acesso a isto
      tags:
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the products
          schema:
            type: string
          required: false
        - in: query
          name: classification
          description: Numeric corresponding to the product classification
          schema: # resultado da média das avaliações atribuídas nas reviews
            type: number
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string # verificar se é a melhor forma de representar as categorias
                    description: #sendo que cada uma tem uma categoria mãe
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
                example:
                  - id: 1
                    title: Zip Up Bomber Jacket
                    category: Woman / Clothing / Jackets
                    description: description of the materials and tips/warnings for washing
                    likes: 15
                    sizes: [XS, S, M, L]
                    colors: [Black, Grey, Beige]
                    reviews:
                      [
                        0,
                        Good product!,
                        4.5,
                        It is builded with very good materials.,
                        1,
                        Lack of interior lining!,
                        1.5,
                        the interior lining is not the best I ever experienced.,
                      ]
    post:
      operationId: R203
      summary: 'R203: Create Product API'
      description: 'Creates a new product. Access: COL'
      tags:
        - 'M02: Products'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # <---- VER ESTE TIPO DE LINKS, ESTÁ CORRETO??
            schema:
              type: object
              properties:
                title:
                  type: string
                category:
                  type: string
                description:
                  type: string
                sizes:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                colors:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
              required:
                - title
                - category
                - description
                - sizes
                - colors

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  category:
                    type: string
                  description:
                    type: string
                  likes:
                    type: integer
                  sizes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                  colors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        evaluation:
                          type: number
                        description:
                          type: string
                example:
                  id: 1
                  title: Zip Up Bomber Jacket
                  category: Woman Jackets
                  description: description of the materials and tips/warnings for washing
                  sizes: [XS, S, M, L]
                  colors: [Black, Grey, Beige]

  /api/orders:
    get:
      operationId: R301
      summary: 'R301: Search Orders API'
      description: 'Searches for orders and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M03: Orders and Wishlist'

      parameters:
        - in: query
          name: status
          description: Status of the order
          schema:
            type: string
          required: false
        - in: query
          name: date
          description: Date of the order
          schema:
            type: string # para representar datas também é string
          required: false
        - in: query
          name: total
          description: Total price of the order
          schema:
            type: number
          required: false
        - in: query
          name: products
          description: Products in the order
          schema:
            type: array
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      type: string
                    date:
                      type: string # para representar datas também é string
                    total:
                      type: number
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          category:
                            type: string
                          description:
                            type: string
                          likes:
                            type: integer
                          sizes:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          colors:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          reviews:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                evaluation:
                                  type: number
                                description:
                                  type: string
                  example:
                    - id: 1
                      status: Pending
                      date: 2022-11-05
                      total: 100
                      products:
                        [
                          1,
                          Zip Up Bomber Jacket,
                          Woman / Clothing / Jackets,
                          description of the materials and tips/warnings for washing,
                          15,
                          [XS, S, M, L],
                          [Black, Grey, Beige],
                          [
                            0,
                            Good product!,
                            4.5,
                            It is builded with very good materials.,
                            1,
                            Lack of interior lining!,
                            1.5,
                            the interior lining is not the best I ever experienced.,
                          ],
                        ]
    post:
      operationId: R302
      summary: 'R302: Create Order API'
      description: 'Creates a new order and returns the results as JSON. Access: USR, COL'
      tags:
        - 'M03: Orders and Wishlist'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # <---- VER ESTE TIPO DE LINKS, ESTÁ CORRETO??
            schema:
              type: object
              properties:
                status:
                  type: string
                date:
                  type: string # para representar datas também é string
                total:
                  type: number
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success creating a new order'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the newly created order
              example: /api/orders/

  /api/wishlist:
    get:
      operationId: R303
      summary: 'R303: Search Wishlist API'
      description: 'Searches for wishlist and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M03: Orders and Wishlist'

      parameters:
        - in: query
          name: products
          description: Products in the wishlist
          schema:
            type: array
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          category:
                            type: string
                          description:
                            type: string
                          likes:
                            type: integer
                          sizes:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          colors:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                          reviews:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                evaluation:
                                  type: number
                                description:
                                  type: string
                  example:
                    - id: 1
                      products:
                        [
                          1,
                          Zip Up Bomber Jacket,
                          Woman / Clothing / Jackets,
                          description of the materials and tips/warnings for washing,
                          15,
                          [XS, S, M, L],
                          [(Black, Grey, Beige],
                          [
                            0,
                            Good product!,
                            4.5,
                            It is builded with very good materials.,
                            1,
                            Lack of interior lining!,
                            1.5,
                            the interior lining is not the best I ever experienced.,
                          ],
                        ]
    post:
      operationId: R304
      summary: 'R304: Create Wishlist API'
      description: 'Creates a new wishlist and returns the results as JSON. Access: USR, TEC'
      tags:
        - 'M03: Orders and Wishlist'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # <---- VER ESTE TIPO DE LINKS, ESTÁ CORRETO??
            schema:
              type: object
              properties:
                products:
                  type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    likes:
                      type: integer
                    sizes:
                      type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    colors:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    reviews:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                          evaluation:
                            type: number
                          description:
                            type: string
      responses:
        '200':
          description: 'Success creating a new wishlist'
          headers:
            Location:
              schema:
                type: string
                format: uri
                description: URI of the newly created wishlist
              example: /api/wishlist/
